*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #272729;
    color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

a {
    color: blanchedalmond;
    text-decoration: none;
}

#name{
    font-style: oblique;
    font-size: 50px;
    text-align: center;
   
}


img{
    border-radius: 5%;
}

header{
    text-align: center;
    padding: 10px;
    background-color: #40a8af;
    float:center;
    color: #272729;
}

ul, li{
    list-style: none;
}

li:hover{
    background-color: #40a8af;
    color: #272729;
}

li:active{
    color: blanchedalmond;
}

h2{
    font-size: 30px;
}

footer{
    background-color: #40a8af;
    color: #272729;
    text-align: center;
    font-size: 15px;
    padding: 10px;
}

.head{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
    position: fixed;
    top: 0;
    width: 100%;    
}

#fullbody{
    padding: 20px;
}
.list {
    text-align: center;
    display: inline;
    padding-left: 20px;
}

#about{
    color: rgb(10, 97, 112);
}

#education{
    color: rgb(10, 97, 112);
}

#skills{
    color: rgb(10, 97, 112);
}

#reading{
    color: rgb(10, 97, 112);
}

.home{
    background-color: #40a8af;
    display: inline-block;
    border-radius: 10%;
    padding: 10px;
    color: #272729;
}

.color{
    color: #40a8af;
}

.block{
    width: 90%;
    text-align: justify;
    overflow: auto;
}

.pic{
    background-color: #40a8af;
    padding: 5px;
}

